@charset "utf-8";

.mw_wp_form .error {
	font-size : 93%;
	color : #B70000;
	display : block;
}

.mw_wp_form .akismet_error {
	display: block;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-month,
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
	width: 40%;
	margin: 0 5px;
}

.mw-wp-form-deprecated-message {
	background: #F5A9A9;
	border: #B40404 solid 2px;
	border-radius: 5px;
	font-size: 10px;
	line-height: 1.6;
	margin: 0 0 5px;
	padding: 5px;
}

.mwform-file-delete {
	cursor: pointer;
	visibility: hidden;
}
